[submodule "LinkedList"]
	path = LinkedList
	url = https://github.com/WKBae/LinkedList
[submodule "BinaryTree"]
	path = BinaryTree
	url = https://github.com/WKBae/BinaryTree
[submodule "BinarySearchTree"]
	path = BinarySearchTree
	url = https://github.com/WKBae/BinarySearchTree
[submodule "Graph"]
	path = Graph
	url = https://github.com/WKBae/Graph
